.header {
  height: 90vh;
  background-image: linear-gradient(
      rgba($color-purple, 0.14),
      rgba($color-primary, 0.43)
    ),
    url(../img/miami.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  @include respond(tab-port) {
    height: 100vh;
  }

  &--name {
    color: white;
    font-size: 3.5rem;
    letter-spacing: 0.045em;
    font-weight: 150;
    position: relative;
    animation: lightUp 1.2s ease-in;
    text-transform: uppercase;
    margin-left: 5px;

    &:after {
      content: " ";
      border-bottom-style: solid;
      border-bottom-width: 0.2rem;
      display: table-cell;
      width: 105%;
      position: absolute;
      bottom: 0;
      left: -1rem;
    }

    @include respond(tab-port) {
      display: block;
    }
  }

  &--profileimg {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 0.3rem solid white;
    animation: moveInTop 1.2s ease-out;
    position: relative;
    z-index: 1;
    @include respond(tab-port) {
      width: 18rem;
      height: 18rem;
    }
  }

  &--top {
    position: absolute;
    top: 2rem;
    left: 2rem;
    backface-visibility: hidden;

    @include respond(tab-port) {
      position: absolute;
      top: 2rem;
      left: 50%;
      transform: translate(-50%);
      width: 85%;
      max-width: 40rem;
    }
  }

  &--textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    text-transform: uppercase;
    width: 100%;

    @include respond(phone) {
      top: 60%;
    }
  }

  &--heading-primary {
    color: white;
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    animation: moveInLeft 1.2s ease-out;
    @include respond(tab-port) {
      font-size: 6rem;
    }
    @include respond(phone) {
      font-size: 2.9rem;
    }
  }

  &--sub {
    height: 10vh;
    position: relative;

    @include respond(phone) {
      height: auto;
    }

    &--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      @include respond(phone) {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
      }
    }
  }
}
