.wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;

  @media (max-width: $sm-max) {
    grid-auto-rows: min-content;
  }

  @media (min-width: $md-min) {
    grid-template-columns: 300px auto;
  }
}

.main {
  padding: 32px 25px;
}
