{
  "extends": "stylelint-config-recommended",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "include",
        "mixin",
        "function",
        "return",
        "each",
        "if",
        "else",
        "else if"
      ]
    }],
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "block-closing-brace-newline-after": "always",
    "max-empty-lines": 1,
    "selector-list-comma-newline-after": "always",
    "selector-pseudo-element-colon-notation": "double",
    "no-eol-whitespace": true,
    "indentation": 2,
    "rule-empty-line-before": ["always", {
      "except": ["first-nested"],
      ignore: ["after-comment"]
    }],
    "property-case": "lower",
    "string-quotes": "single",
    "max-nesting-depth": 2,
    "value-list-comma-space-after": "always",
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "%", "px", "vw", "ms", "deg", "vh"],
    "no-descending-specificity": [true, { "severity": "warning" } ],
    "no-duplicate-selectors": [true, { "severity": "warning" } ]
  }
}