//Colors
$color-purple: #8912c3;
$color-primary: #1fa5ba;
$color-white: #f9f9f9;

//Grid
$grid-width: 114rem;
$gutter-horizontal: 3rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;

//Fonts
$default-font-size: 1.6rem;
