.intro {
  padding-bottom: 20px;
  color: $white;

  @media (min-width: $xl-min) {
    max-width: 85%;
  }

  p {
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 10px;
  }

  a {
    @include transition;

    &:hover,
    &:focus {
      text-shadow: 0 0 7px $white;
    }
  }
}

.lead {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-gap: 20px;

  @media (min-width: $lg-min) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
