.title {
  font-size: 30px;
  margin-bottom: 40px;
  text-decoration: underline;

  @media (min-width: $md-min) {
    font-size: 36px;
  }
}

.content {
  p {
    margin-bottom: 15px;
  }

  strong {
    font-weight: 700;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.tags {
  list-style: none;
}

.img {
  margin-bottom: 40px;
}
