.title {
  font-size: 24px;
  margin-bottom: 40px;

  @media (min-width: $md-min) {
    font-size: 30px;
  }
}

.description {
  font-size: 25px;
  margin-bottom: 15px;
}

.content {
  p {
    margin-bottom: 15px;
  }

  strong {
    font-weight: 700;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.tags {
  list-style: none;
}
