$color-purple: #8912c3;
$color-primary: #1fa5ba;

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    color: $color-primary;
}
.header{
  height: 90vh; 
  background-image: linear-gradient( 
        rgba($color-purple, 0.14), 
        rgba($color-primary, 0.43) ) , 
    url(../img/miami.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    &--name{
        color: white;
        font-size: 3rem;
        letter-spacing: 0.045em;
        font-weight: 200;
        border-bottom: .2rem solid;
        padding-bottom: 1rem;
        animation: lightUp 1.2s ease-in;
        
    }
    
    &--profileimg{
        margin-top: 40px;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: .3rem solid white;
        animation: moveInTop 1.2s ease-out;
    }
    
    &--top{
        position: absolute;
      top: .8rem;
      left: 1.6rem;
      backface-visibility: hidden;
    }
    
    &--textbox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
       
    }
    
    &--heading-primary{
        color: white;
        font-size: 5rem;
        font-weight: 200;
        letter-spacing: .5rem;
        animation: moveInLeft 1.2s ease-out;
    }
    
    &--sub{
        height: 10vh; 
        position: relative;
        
        &--center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            
            }
    }
}

.button{
    
    &:link,
    &:visited {
       text-transform: uppercase;
       text-decoration: none;
       padding: 1.5rem 4rem;
       display: inline-block;
       border-radius: 10rem;
       transition: all .2s;
       position: relative;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
        
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        
    }
    
    &:active {
        transform: translateY(-1px);
         box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
    }
   
    &--primary{
        border: 1px solid $color-primary;
        color: white;
        
        &::after{
            background-color: $color-primary;
        }
        
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
       animation: moveInButton .5s ease-out .75s;
       animation-fill-mode: backwards;
    }
    
}
.card-img-top{
    transition: transform .2s; 
   height: 18.5rem;
   
    &:hover{
        transform: scale(1.05);
    }
}

.frontlead{
    letter-spacing: .2rem;
    font-size: .3rem;
    
}

@keyframes moveInLeft {
    0%{
     opacity: 0;  
     transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
       opacity: 1; 
       transform: translate(0);
    }
}
@keyframes moveInTop {
    0%{
     opacity: 0;  
     transform: translateY(-10rem);
    }
    80%{
        transform: translateY(1rem);
    }
    100%{
       opacity: 1; 
       transform: translate(0);
    }
}
@keyframes lightUp {
    0%{
     opacity: 0;  
    
    }
    100%{
       opacity: 1; 
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translatey(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}