// Colors
$blue: #123550;
$dark-blue: #1d1d2c;
$white: #dfe3b9;

// Breakpoints
$sm-max: 767px;
$md-min: 768px;
$md-max: 991px;
$lg-min: 992px;
$lg-max: 1199px;
$xl-min: 1200px;

// mixins
@mixin transition {
  transition: all 0.1s ease-in;
}
