.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  flex-grow: 1;
  padding: 24px;
  background-color: $white;
  color: $orange;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  @media (min-width: 375px) {
    font-size: 35px;
  }
}

.copy {
  line-height: 1.25;
  font-size: 20px;
}
