.sidebar {
  color: $white;
  font-family: 'Ubuntu', sans-serif;
}

.sticky {
  padding: 32px 25px;

  @media (min-width: $md-min) {
    position: sticky;
    top: 0;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  img {
    border-radius: 50%;
    background: $white;
  }
}

.name {
  font-size: 30px;
  margin-top: 15px;
  line-height: 1.2;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.6;
  display: block;
  color: $white;
  @include transition;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-shadow: 0 0 7px $white;
  }
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @include transition;

  a {
    color: $white;
    font-size: 30px;
    line-height: 1;

    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}
