.about-me {
  font-size: 2rem;
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.55),
    rgba($color-purple, 0.3)
  );

  &__top {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-purple, 0.6),
        rgba($color-primary, 0.6)
      ),
      url(../img/palms2.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

    &-hello {
      font-size: 16rem;
      font-weight: 300;
      letter-spacing: 3px;
      color: white;
      padding: 15vh;
    }
  }

  &__spacer {
    height: 15vh;
  }

  &__card {
    width: 75%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(#000, 0.1);
    background-color: rgba(#fff, 0.6);
    border-radius: 3px;
    padding: 2rem;
    color: #2b2b2b;
    height: 30rem;
    transform: skewX(-12deg);

    &--text {
      transform: skewX(12deg);
    }
  }
}
