body {
  color: $color-primary;
}

.frontlead {
  letter-spacing: 0.2rem;
  font-size: 5rem;
  letter-spacing: 0.045em;
  font-weight: 150;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

//Modal Font
.modal-title{
  font-size: $default-font-size;
}

.modal-body{
  font-size: $default-font-size;
}

.form-control{
  font-size: $default-font-size;
}
.btn{
  font-size: $default-font-size;
}